body {
    font-family: Arial, sans-serif;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adjust the gap between grid items as needed */
    padding: 20px;
    width: 900px;
}

.skill {
    background-color: #f0f0f0; /* Light gray background for skills */
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}