* {
    background-color:#292929;
    margin: 0;
    padding: 0%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#github, #linkedin {
    width: 40px;
    margin-top: 40px;
    margin-left: 60px;
}

#mail, #insta {
    width: 40px;
    margin-top: 40px;
    margin-right: 60px;
}

body {
    animation: pageFadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes pageFadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fsdev {
    font-family: "Jetbrains mono";
    color: #FFFFFF;
    font-size: medium;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 4px;
}

h1{
    font-family: "Jetbrains mono";
    font-style: italic;
    font-weight: bolder;
    
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    justify-content: center;
    color: #FFFFFF;
    font-size: 3em;
    letter-spacing: 5px;
    text-shadow: 0 0 1em currentColor;
}

.greenpar {
    color: #42b373; /* #5a90d1 also works well here. */
}

 ul {
    font-family: "Jetbrains mono";
    color: #FFFFFF;
    font-size: large;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 54px;
    padding-bottom: 50px;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    transition: color 0.15s ease;
}

ul li a:hover {
    color: #42b373;
    animation-duration: 0.3ms f;
    cursor: pointer;
    transform: scale(110%);
    transition: transform 0.2s ease;
    text-shadow: 0 0 1em currentColor;
}

ul li a:not(:hover) {
    transform: scale(1);
    transition: transform 0.2s ease; 
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Jetbrains mono";
    color: #FFFFFF;
    text-align: center;
    margin-top: 90px;
}

.bio-text {
    width: 1000px;
    display: flex;
    align-items: center;
}

#github:hover, #linkedin:hover, #mail:hover, #insta:hover {
    animation-duration: 0.3ms f;
    cursor: pointer;
    transform: scale(110%);
    transition: transform 0.2s ease;
    box-shadow: 0 0 4em #42b373;
}

#github:not(:hover), #linkedin:not(:hover), #mail:not(:hover), #insta:not(:hover) {
    transform: scale(1);
    transition: transform 0.2s ease; 
}

h2 {
    font-style: italic;
    margin-top: 60px;
}

.bio #self-portrait {
    width: 250px;
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 45px;
    border: solid 10px;
    border-color: #FFFFFF;
}
